.header-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
}

.chat-body {
  padding: 0;
}
.chat-body .header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
.chats-body .status-bar {
  padding: 0;
}
.chat-screen {
  background-image: url("../images/email-pattern.png");
  min-height: 200vh;
  padding-top: 100px;
}
.chat__write {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 50px;
  width: 80%;
  display: flex;
  margin: 0px auto;
  left: 0;
  right: 0;
  padding: 20px 50px;
  border-radius: 40px;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 14px;
}

.chat__messages {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}
.timestamp {
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message__avatar {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message__buble {
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 10px 20px;
  background-color: white;
  border-radius: 40px;
}

.message__buble:nth-child(2n) {
  margin-top: 10px;
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
}

.message__buble:nth-child(2n-1) {
  background-image: linear-gradient(to left, #00c6ff, #0072ff);
  border-bottom-right-radius: 0px;
  color: white;
  align-content: flex-end;
}

.message__content span {
  font-size: 12px;
  font-weight: 600;
}
