.find {
  margin-top: 20px;
}

.find__header--list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-btn__title {
  display: block;
}

.find .header-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.find .header-btn i {
  font-size: 30px;
}

.header-btn__title {
  margin-top: 10px;
}

.find .find__recommended {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #f7f7f7;
}

.find__title {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 25px;
}
