.friends__header {
  padding-bottom: 20px;
}

.friends__plus-friend {
  padding: 20px 0px;
  border-bottom: 1px solid #f7f7f7;
  border-top: 1px solid #f7f7f7;
  margin: 20px 0px;
}

.friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.friend__add-btn {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}
