.more__btn-list {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.more__btn-list .more__btn {
  margin-right: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.more__btn-title {
  font-size: 14px;
  margin-top: 15px;
}

.more__suggestions {
  border-top: 1px solid #f7f7f7;
  padding-top: 15px;
}

.more__title {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.more__suggestion-list {
  display: flex;
  margin: 30xp 0;
  align-items: center;
  margin-left: 10px;
}

.suggestion {
  margin-right: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.suggestion__title {
  font-size: 14px;
  margin-top: 15px;
}

.suggestion__icon {
  background-color: #fce006;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
