/* position: fixed; 는 width가 필요하다 
    참고로 bottom으로 설정하면 밑에 붙고
    top 으로 설정하면 위에 붙는다.
    left로 전체 설정값인 페딩값을 없에준다..
*/
.nav {
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px 50px;
  border-top: 1px solid #f7f7f7;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav i {
  font-size: 20px;
}

.nav_badge {
  position: absolute;
  background-color: #dc5d46;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -7px;
  width: 18px;
  height: 18px;
  font-size: 12px;
}

.nav__list-item {
  position: relative;
}
