.settings {
  padding-top: 30px;
}

.settings__sections {
  border-top: 1px solid #f7f7f7;
  padding: 30px 0px;
}

.settings__setting {
  margin-bottom: 20px;
}

.settings__setting:last-child {
  margin-bottom: 0px;
}

.settings__icon {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.settings__title {
  font-size: 22px;
  font-weight: 300;
}
